@import "bootstrap/scss/reboot";

html {
	height: 100%;
}

body {
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-thumb {
		background: #abb7ff;
	}

	&::-webkit-scrollbar-button {
		display: none;
	}

	&::-webkit-scrollbar-corner {
		background: transparent;
	}
}

.dark-mode {
	body {
		&::-webkit-scrollbar-thumb {
			background: #121212;
		}
	}
}
