@use "sass:math";

// Color system

$white:    #fff !default;
$gray-100: #e3e3e3 !default;
$gray-200: #c8c8c8 !default;
$gray-300: #a4a4a4 !default;
$gray-400: #818181 !default;
$gray-500: #666666 !default;
$gray-600: #515151 !default;
$gray-700: #434343 !default;
$gray-800: #383838 !default;
$gray-900: #171717 !default;
$black:    #000 !default;

$grays: (
	"100": $gray-100,
	"200": $gray-200,
	"300": $gray-300,
	"400": $gray-400,
	"500": $gray-500,
	"600": $gray-600,
	"700": $gray-700,
	"800": $gray-800,
	"900": $gray-900
) !default;

$blue:    #6564ff !default;
$indigo:  #6366F1 !default;
$violet:  #8B5CF6 !default;
$purple:  #A855F7 !default;
$pink:    #f3a4b5 !default;
$red:     #ff1818 !default;
$orange:  #F97316 !default;
$yellow:  #ffd600 !default;
$green:   #22C55E !default;
$teal:    #14B8A6 !default;
$cyan:    #06B6D4 !default;

$colors: (
	"blue":       $blue,
	"indigo":     $indigo,
	"violet":     $violet,
	"purple":     $purple,
	"pink":       $pink,
	"red":        $red,
	"orange":     $orange,
	"yellow":     $yellow,
	"green":      $green,
	"teal":       $teal,
	"cyan":       $cyan,
	"white":      $white,
	"gray":       $gray-100,
	"gray-dark":  $gray-900
) !default;

$primary:       $blue !default;
$secondary:     $gray-400 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          darken(#1b1b1b, 2.5%) !default;
$darker:        darken($dark, 2.25%) !default;

$theme-colors: (
	"primary":    $primary,
	"secondary":  $secondary,
	"success":    $success,
	"info":       $info,
	"warning":    $warning,
	"danger":     $danger,
	"light":      $light,
	"dark":       $dark,
	"darker":     $darker
) !default;

// Options

$enable-caret:                true !default;
$enable-rounded:              true !default;
$enable-shadows:              true !default;
$enable-gradients:            false !default;
$enable-transitions:          true !default;
$enable-reduced-motion:       true !default;
$enable-smooth-scroll:        true !default;
$enable-grid-classes:         true !default;
$enable-container-classes:    true !default;
$enable-cssgrid:              false !default;
$enable-button-pointers:      true !default;
$enable-rfs:                  true !default;
$enable-validation-icons:     true !default;
$enable-negative-margins:     true !default;
$enable-deprecation-messages: true !default;
$enable-important-utilities:  true !default;

// Prefix for :root CSS variables

$prefix:                      bs- !default;

// Spacing

$spacer: 1rem !default;
$spacers: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
) !default;

@for $i from 6 through 16 {
	$spacers: map-merge($spacers, (
		$i: (($i + 1rem) * 0.5)
	))
}

// Body

$body-color:                $black !default;
$body-bg:                   $white !default;

// Links

$link-decoration:                         none !default;

// Paragraphs

$paragraph-margin-bottom:   .675rem !default;

// Components

$border-width:                1px !default;

$border-color:                rgba($primary, .1) !default;
$border-color-translucent:    rgba($black, .1) !default;

$border-radius:               .3rem !default;
$border-radius-sm:            .25rem !default;
$border-radius-lg:            .35rem !default;
$border-radius-pill:          50rem !default;

$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075) !default;

$focus-ring-width:      0 !default;
$focus-ring-opacity:    .25 !default;
$focus-ring-color:      rgba($primary, $focus-ring-opacity) !default;
$focus-ring-blur:       0 !default;
$focus-ring-box-shadow: 0 2px $focus-ring-blur $focus-ring-width $focus-ring-color !default;

// Typography

$font-family-sans-serif:      'Archivo', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;

$line-height-base:            1.5 !default;

$h1-font-size:                $font-size-base * 1.625 !default;
$h2-font-size:                $font-size-base * 1.25 !default;
$h3-font-size:                $font-size-base * 1.0625 !default;
$h4-font-size:                $font-size-base * .9375 !default;
$h5-font-size:                $font-size-base * .8125 !default;
$h6-font-size:                $font-size-base * .625 !default;

$small-font-size:             .875em !default;

$hr-margin-y:                 $spacer * 0.5 !default;

// Tables

$table-th-font-weight:        500 !default;

$table-bg-scale:              -80% !default;

$table-variants: (
	"primary":    shift-color($primary, $table-bg-scale),
	"secondary":  shift-color($secondary, $table-bg-scale),
	"success":    shift-color($success, $table-bg-scale),
	"info":       shift-color($info, $table-bg-scale),
	"warning":    shift-color($warning, $table-bg-scale),
	"danger":     shift-color($danger, $table-bg-scale),
	"light":      $light,
	"dark":       $dark,
	"darker":     $darker,
) !default;

// Buttons + Forms

$input-btn-padding-y:         .375rem !default;
$input-btn-padding-x:         .75rem !default;
$input-btn-font-size:         $font-size-sm !default;
$input-btn-line-height:       $line-height-base !default;

// Buttons

$btn-white-space:             nowrap !default; // Set to `nowrap` to prevent text wrapping

$btn-font-weight:             $font-weight-bolder !default;

$btn-transition:              color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out, transform .3s ease-in-out !default;

// Forms

$form-label-font-size:                  $font-size-sm !default;
$form-label-font-weight:                500 !default;

$input-box-shadow:                      null !default;

$input-focus-box-shadow:                null !default;

$input-transition:                      border-color .3s ease-in-out, box-shadow .3s ease-in-out !default;

$form-select-box-shadow:          null !default;

$form-select-focus-box-shadow:    null !default;

// Navs

$nav-link-padding-y:                .25rem !default;
$nav-link-padding-x:                1rem !default;
$nav-link-font-size:                $font-size-sm !default;
$nav-link-transition:               color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out !default;

// Navbar

$navbar-padding-y:                  $spacer * .875 !default;
$navbar-padding-x:                  null !default;

$navbar-nav-link-padding-x:         .5rem !default;

$navbar-brand-font-size:            $font-size-sm !default;

$navbar-toggler-transition:         box-shadow .3s ease-in-out !default;

// Dropdowns

$dropdown-min-width:                10rem !default;
$dropdown-padding-x:                .25rem !default;
$dropdown-padding-y:                .25rem !default;
$dropdown-spacer:                   .125rem !default;
$dropdown-font-size:                $font-size-sm  !default;
$dropdown-color:                    $body-color !default;
$dropdown-bg:                       $white !default;
$dropdown-border-color:             rgba($black, .05) !default;
$dropdown-border-radius:            $border-radius-lg !default;
$dropdown-border-width:             $border-width !default;
$dropdown-inner-border-radius:      subtract($dropdown-border-radius, $dropdown-border-width) !default;
$dropdown-divider-bg:               $dropdown-border-color !default;
$dropdown-divider-margin-y:         $spacer * 0.25 !default;
$dropdown-box-shadow:               $box-shadow !default;

$dropdown-link-color:               $gray-900 !default;
$dropdown-link-hover-color:         shade-color($gray-900, 5%) !default;
$dropdown-link-hover-bg:            $gray-100 !default;

$dropdown-link-disabled-color:      $gray-500 !default;

$dropdown-item-padding-y:           math.div($spacer, 2.65) !default;
$dropdown-item-padding-x:           $spacer * 0.5 !default;

$dropdown-header-color:             $gray-600 !default;
$dropdown-header-padding:           $dropdown-padding-y $dropdown-item-padding-x !default;

$dropdown-dark-color:               #aaaaaa !default;
$dropdown-dark-bg:                  $darker !default;
$dropdown-dark-border-color:        $dropdown-border-color !default;
$dropdown-dark-divider-bg:          $dropdown-divider-bg !default;
$dropdown-dark-box-shadow:          null !default;
$dropdown-dark-link-color:          $dropdown-dark-color !default;
$dropdown-dark-link-hover-color:    $white !default;
$dropdown-dark-link-hover-bg:       rgba($white, .05) !default;
$dropdown-dark-link-disabled-color: $gray-500 !default;
$dropdown-dark-header-color:        $gray-500 !default;

// Pagination

$pagination-padding-y:              .265rem !default;
$pagination-padding-x:              .65rem !default;
$pagination-padding-y-sm:           .25rem !default;
$pagination-padding-x-sm:           .5rem !default;
$pagination-padding-y-lg:           .75rem !default;
$pagination-padding-x-lg:           1.5rem !default;

$pagination-bg:                     $white !default;
$pagination-border-radius:          var(--#{$prefix}border-radius) !default;
$pagination-border-width:           var(--#{$prefix}border-width) !default;
$pagination-margin-start:           calc(#{$pagination-border-width} * -1) !default; // stylelint-disable-line function-disallowed-list
$pagination-border-color:           $gray-300 !default;

$pagination-focus-bg:               $gray-200 !default;
$pagination-focus-outline:          0 !default;

$pagination-disabled-color:         $gray-600 !default;
$pagination-disabled-bg:            $white !default;
$pagination-disabled-border-color:  $gray-500 !default;

$pagination-transition:              color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out !default;

// Cards

$card-title-spacer-y:               $spacer * .25 !default;

// Modals

$modal-inner-padding:               $spacer !default;

$modal-footer-margin-between:       .5rem !default;

$modal-dialog-margin:               .5rem !default;
$modal-dialog-margin-y-sm-up:       1.75rem !default;

$modal-title-line-height:           $line-height-base !default;

$modal-content-color:               null !default;
$modal-content-bg:                  $white !default;
$modal-content-border-color:        rgba($black, .2) !default;
$modal-content-border-width:        $border-width !default;
$modal-content-border-radius:       $border-radius !default;
$modal-content-inner-border-radius: subtract($modal-content-border-radius, $modal-content-border-width) !default;
$modal-content-box-shadow-xs:       $box-shadow-sm !default;
$modal-content-box-shadow-sm-up:    $box-shadow !default;

$modal-backdrop-bg:                 $black !default;
$modal-backdrop-opacity:            .5 !default;
$modal-header-border-color:         $border-color !default;
$modal-footer-border-color:         $modal-header-border-color !default;
$modal-header-border-width:         $modal-content-border-width !default;
$modal-footer-border-width:         $modal-header-border-width !default;
$modal-header-padding-y:            $modal-inner-padding !default;
$modal-header-padding-x:            $modal-inner-padding !default;
$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

$modal-sm:                          300px !default;
$modal-md:                          500px !default;
$modal-lg:                          800px !default;
$modal-xl:                          1140px !default;

$modal-fade-transform:              translate(0, -50px) !default;
$modal-show-transform:              none !default;
$modal-transition:                  transform .3s ease-out !default;
$modal-scale-transform:             scale(1.02) !default;

// Tables

$table-bg:                    transparent !default;

// Close

$btn-close-width:            .675em !default;
$btn-close-height:           $btn-close-width !default;
$btn-close-padding-x:        .25em !default;
$btn-close-padding-y:        $btn-close-padding-x !default;
$btn-close-color:            $black !default;
$btn-close-bg:               url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>") !default;
$btn-close-focus-shadow:     null !default;
$btn-close-opacity:          .5 !default;
$btn-close-hover-opacity:    .75 !default;
$btn-close-focus-opacity:    1 !default;
$btn-close-disabled-opacity: .25 !default;
$btn-close-white-filter:     invert(1) grayscale(100%) brightness(200%) !default;

@import "bootstrap/scss/variables";
