$icon-width: 2.5rem !default;
$icon-width-sm: 1.5rem !default;
$icon-width-lg: 3.5rem !default;
$icon-width-xl: 6.5rem !default;

.icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	flex-shrink: 0;
	width: $icon-width;
	height: $icon-width;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	max-width: 100%;
	text-align: center;
	overflow: visible;
	position: relative;
	transition: color .3s ease-in-out, background-color .3s ease-in-out, box-shadow .3s ease-in-out;

	svg {
		color: white;
		display: inline-block;
		overflow: visible;
		vertical-align: -.15em;
		width: 60%;
		height: auto;
		max-width: 100%;
	}
}

.icon-xl {
	@include icon-size($icon-width-xl, $icon-width-xl);
}

.icon-lg {
	@include icon-size($icon-width-lg, $icon-width-lg);
}

.icon-sm {
	@include icon-size($icon-width-sm, $icon-width-sm);
}

.icon-shape {
	border-radius: 0.25rem;
}

@each $color, $value in $colors {
	.icon-shape-#{$color} {
		@include icon-shape-variant($color, $value);
	}
}

@each $color, $value in $theme-colors {
	.icon-shape-#{$color} {
		@include icon-shape-variant($color, $value);
	}
}
