@import "~bootstrap/scss/progress";

.progress {
	font-size: .75rem;
	height: 1rem;
	border-radius: .375rem;
	background-color: #e9ecef;
	box-shadow: inset 0 .1rem .1rem rgba(0, 0, 0, .1);
}

.progress-bar {
	height: auto;
	border-radius: 0;
	box-shadow: none;
}

.progress-bar-striped {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-size: 1rem 1rem;
}
